@media (min-width :1001px) {
    .pricing-container{
        display: flex;
        justify-content: center;
        height: 100vh;
        align-items: center;
        gap: 30px;
    }
    .pricing-plan{
        border: 2px solid beige;
        background-color: whitesmoke;
        border-radius: 5px;
        max-width: 400px;
    }
    .pricing-plan {
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .plan-title{
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }
    .plan-price{
         text-align: center;
        font-size: 50px;
        font-weight: bold;
    }
    .plan-features{
        list-style: none;
        text-align: center;
        padding: 5px 5px;
        margin-top: 0px;
        margin-bottom: 0px;
      
    }
    li{
        margin-bottom: 20px;
    }
    button{
        border: 0px;
        height: 30px;
        width: 70px;
        border-radius: 5px;
        background-color: coral;
        color: white;
        align-self: center;
        margin-top: 0px;
    }
}
@media only screen and (max-width: 1000px) {
    .pricing-container{
    
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    gap: 30px;
    }  
    .pricing-plan{
        border: 2px solid beige;
        background-color: whitesmoke;
        border-radius: 5px;
        max-width: 400px;
        width: 300px;
    }
    .pricing-plan {
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .plan-title{
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }
    .plan-price{
         text-align: center;
        font-size: 30px;
        font-weight: bold;
    }
    .plan-features{
        list-style: none;
        text-align: center;
        padding: 5px 5px;
        margin-top: 0px;
        margin-bottom: 0px;
      
    }
    li{
        margin-bottom: 20px;
    }
    button{
        border: 0px;
        height: 30px;
        width: 70px;
        border-radius: 5px;
        background-color: coral;
        color: white;
        align-self: center;
        margin-top: 0px;
    }
}



